@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
    all: unset;
    min-height: 100vh;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #FF4E00;
    width: 100%;
    font-family: 'Pathway Gothic One', sans-serif;
}

section.container {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
}

div.current_data {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

div.current_data h2 {
    all: unset;
    color: #FF4E00;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    text-align: center;
}

div.current_data .content {
    all: unset;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
}

div.current_data .content div {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

div.current_data .content div label {
    all: unset;
    color: #FF4E00;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
    align-self: flex-start;
}

div.current_data .content div input {
    all: unset;
    background-color: #636363;
    color: #FF4E00;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    height: 21px;
}

div.current_data .content div input[type="file"] {
    display: none;
}

div.current_data .content div label.photo {
    all: unset;
    background-color: #FF4E00;
    height: 21px;
    color: #FFFFFF;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 12px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.current_data button {
    all: unset;
    width: 100%;
    background-color: #FF4E00;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Pathway Gothic One', sans-serif;
    padding: 10px 0;
    cursor: pointer;
}















footer {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

footer a.selected {
    width: 65px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    align-self: flex-end;
}

footer a img {
    width: 27px;
    height: 27px;
}

footer a.selected img {
    width: 32px;
    height: 32px;
}