<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="initial">
    <div class="content">
        <h1>IntelliGym</h1>
        <div class="fields">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <a class="button" href="/main">Logar</a>
            <p>OU</p>
            <a href="/register">Não tem uma conta?</a>
        </div>
        <div class="powered">
            <h2>POWERED BY</h2>
            <img src="../static/images/IntelliCorp.svg" alt="">
        </div>
    </div>
</body>
</html>