<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="initial">
    <div id="error" class="error invisible">
        <p>Credenciais Inválidas!</p>
        <button onclick="esconderErro()">X</button>
    </div>
    <div class="content">
        <h1>IntelliGym</h1>
        <div class="fields">
            <input id="user" type="text" placeholder="Usuário">
            <input id="password" type="password" placeholder="Senha">
            <a id="login" class="button" href="/main">Logar</a>
            <p>OU</p>
            <a href="/register">Não tem uma conta?</a>
        </div>
        <div class="powered">
            <h2>POWERED BY</h2>
            <img src="../static/images/IntelliCorp.svg" alt="">
        </div>
    </div>
</body>
<script>
    // Obtém o elemento âncora pelo ID
    const linkElement = document.getElementById('login');

    // Obtém a div pelo ID
    const divElement = document.getElementById('error');

    // Adiciona um ouvinte de evento de clique ao link
    linkElement.addEventListener('click', function(event) {
        
        event.preventDefault();

        var userElement = document.getElementById('user');

        var passElement = document.getElementById('password');

        if (userElement.value == 'Rogerio' && passElement.value == '1234') {
            // Se a condição for atendida, segue para o link
            window.location.href = linkElement.href;
        } else {
            // Caso contrário, remove a classe 'invisible' da div
            divElement.classList.remove('invisible');
        }

        // Impede o comportamento padrão do link (não redireciona para o href)
    });

    function esconderErro() {
        // Obtém o elemento pelo ID
        const errorElement = document.getElementById('error');
      
        // Adiciona a classe 'invisible' ao elemento
        errorElement.classList.add('invisible');
    }
</script>
</html>