<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym</title>
</head>
<body>
    <div>
        <h1>IntelliGym</h1>
        <div>
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <p>OU</p>
            <a href="/register">Não tem uma conta?</a>
        </div>
        <div>
            <h2>POWERED BY</h2>
            <img src="" alt="">
        </div>
    </div>
</body>
</html>