<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym - Objetivos</title>
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <header>
        <h1>IntelliGym</h1>
    </header>

    <section class="container">
        <div class="profile_intro">
            <img src="../static/images/picture.svg" alt="profile">
            <div class="profile_intro_content">
                <h2>Claus Alberto</h2>
                <div>
                    <p>Idade: 21</p>
                    <p>Gênero: Masculino</p>
                </div>
                <div>
                    <p>Academia: IntelliGym</p>
                </div>
            </div>
        </div>
        <div class="profile_content">
            <div class="profile_content_item">
                <label for="">Nome</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Gênero</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Email</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Celular</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Nascimento</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Endereço</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Academia</label>
                <input type="text">
            </div>
            <div class="profile_content_item">
                <label for="">Instrutor</label>
                <input type="text">
            </div>
            <div class="profile_content_item profile_content_submit">
                <input type="submit" value="Salvar">
            </div>
        </div>
    </section>

    <footer>
        <a href="/progress"><img src="../static/images/progress.svg" alt="progress"></a>
        <a href="/target" ><img src="../static/images/target.svg" alt="target"></a>
        <a href="/main"><img src="../static/images/home.svg" alt="main"></a>
        <a href="/training"><img src="../static/images/training.svg" alt="training"></a>
        <a href="/profile" class="selected"><img src="../static/images/profile.svg" alt="profile"></a>
    </footer>
</body>
</html>