<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym - Cadastro</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body class="initial">
    <div class="content">
        <h1>Cadastro</h1>
        <div class="fields">
            <input type="text" placeholder="Nome Completo">
            <input type="email" placeholder="Email">
            <input type="date" placeholder="Data de Nascimento">
            <input type="tel" placeholder="Celular">
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Confirmar Senha">
            <button>Próximo</button>
        </div>
    </div>
    <div class="content" style="display:none">
        <h1>Cadastro</h1>
        <div class="fields">
            <select name="Frequência de Treino" id="Frequência de Treino">
                <option value="" disabled selected>Frequência de Treino</option>
                <option value="1x/Semana">1x/Semana</option>
                <option value="2x/Semana">2x/Semana</option>
                <option value="3x/Semana">3x/Semana</option>
                <option value="4x/Semana">4x/Semana</option>
                <option value="5x/Semana">5x/Semana</option>
                <option value="6x/Semana">6x/Semana</option>
                <option value="7x/Semana">7x/Semana</option>
            </select>
            <input type="text" placeholder="Academia">
            <input type="number" placeholder="Peso">
            <input type="number" placeholder="Altura">
            <input type="number" placeholder="Tempo de Treino em anos">
            <button>Próximo</button>
        </div>
    </div>
    <div class="content" style="display:none">
        <h1>Objetivo</h1>
        <div class="fields">
            <input type="number" placeholder="Peso Desejado">
            <input type="number" placeholder="% de Massa Muscular Desejado">
            <input type="number" placeholder="% De Gordura Desejado">
            <input type="number" placeholder="% Água Corporal">
            <select name="Tipo de Objetivo" id="Tipo de Objetivo">
                <option value="" disabled selected>Tipo de Objetivo</option>
                <option value="Emagrecimento">Emagrecimento</option>
                <option value="Hipertofia">Hipertofia</option>
            </select>
            <input type="password" placeholder="Tipo de Objetivo">
            <button>Próximo</button>
        </div>
    </div>
</body>
</html>