<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGym - Objetivos</title>
    <link rel="stylesheet" href="../static/target.css">
</head>
<body>
    <header>
        <h1>IntelliGym</h1>
    </header>

    <section class="container">
        <div class="current_data">
            <h2>Dados Atuais</h2>
            <div class="content">
                <div>
                    <label for="">Peso</label>
                    <input type="number">
                    <label for="">% Líquido</label>
                    <input type="number">
                    <label for="">% Músculo</label>
                    <input type="number">
                </div>
                <div>
                    <label for="">Altura</label>
                    <input type="number">
                    <label for="">% Gordura</label>
                    <input type="number">
                    <label for="">Foto</label>
                    <label class="photo" for="photo">Foto</label>
                    <input name="photo" id="photo" type="file">
                </div>
            </div>
            <button>Salvar</button>
        </div>
        <div class="current_data">
            <h2>Objetivo</h2>
            <div class="content">
                <div>
                    <label for="">Peso</label>
                    <input type="number">
                    <label for="">% Líquido</label>
                    <input type="number">
                    <label for="">% Músculo</label>
                    <input type="number">
                </div>
                <div>
                    <label for="">Altura</label>
                    <input type="number">
                    <label for="">% Gordura</label>
                    <input type="number">
                </div>
            </div>
            <button>Salvar</button>
        </div>
    </section>

    <footer>
        <a href="/progress"><img src="../static/images/progress.svg" alt="progress"></a>
        <a href="/target" class="selected"><img src="../static/images/target.svg" alt="target"></a>
        <a href="/main"><img src="../static/images/home.svg" alt="main"></a>
        <a href="/training"><img src="../static/images/training.svg" alt="training"></a>
        <a href="/profile"><img src="../static/images/profile.svg" alt="profile"></a>
    </footer>
</body>
</html>